@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Freeman&family=Martel+Sans:wght@800&family=Poppins:wght@200&display=swap');

/* default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for body */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #0066b3;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    background-color: rgb(255, 199, 69);
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    height: 70px;
    margin-top: -70px;
    margin-bottom: -30px;
}

.header .navbar ul {
    display: flex;
    list-style-type: none;
    text-align: right;
}

.header .navbar ul li {
    display: inline-block;
    margin-left: 60px;
}

.header .navbar ul li a {
    text-decoration: none;
    color: #0066b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-icon {
    display: none;
    width: 24px; 
    height: 24px;
    margin-right: 8px;
}

.nav-text {
    display: inline;
}

/* Section styles */
.section {
    margin-top: 50px;
    margin-bottom: 40px;
}

.section h2 {
    margin-bottom: 20px;
}

/* Match Schedule styles */
.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 219, 74);
    color: black;
    padding: 20px;
    margin-left: 300px;
    border-radius: 8px;
    width: 50%;

}

.match .team {
    display: flex;
    align-items: center;
}

.match .team img {
    height: 50px;
    margin-right: 10px;
}

.match .score {
    font-size: 24px;
}

.match-date {
    color: black; 
    margin-left: 500px; 
    margin-top: 10px;
}

.match-date1 {
    color: black; 
    margin-left: 500px; 
    margin-top: 10px;
}

/* Players Section styles */
.players-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    margin-bottom: -20px; 
    color: black;
    font-size: larger;
    font-family: "Freeman", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.players-container::-webkit-scrollbar{
    display: none;
}

.player-card {
    flex: 0 0 auto;
    width: 400px;
    background-color: #FFF;
    margin-right: 20px;
    border-radius: 8px;
    padding: 20px;
}

/* News Section styles */
.news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.news-item {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
}

/* Sponsors Section styles */
.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-logos img {
    height: 50px;
    margin: 30px;
}

/* Footer styles */
.footer {
    background-color: #0864b4;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer .social-media img {
    width: 30px;
    margin: 0 10px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .header .navbar ul li {
        display: block;
        margin: 0;
    }

    .header .navbar ul {
        gap: 20px;
        align-items: center;
    }

    .header .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .header .navbar ul li a {
        display: block;
        padding: 10px 0;
    }

    .nav-icon {
        display: inline;
        height: 35px;
        width: 35px;
        margin-top: 20px;
    }

    .nav-text {
        display: none;
    }
    

    .header .logo{
        width: 25%;
    }

    .header .logo img {
        display: block;
        margin: auto 0;

    }

    .match {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .vs {
        margin-right: 15px;
    }

    .match .score {
        font-size: medium;
    }

    .match-date {
        margin-left: 100px; 
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .match-date1 {
        color: black;
        margin-left: 60px; 
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .players-container .player-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-logos img {
        margin: 5px 5px;
    }
}
